*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.panel-container{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 218, 218);
}