@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.tff') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body{
    font-family: 'Roboto', sans-serif;
}